:host {
  display: block;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.login-form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.login-image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-image-section {
    height: 200px;
    flex: none;
  }

  .login-form-section {
    padding: 1rem;
  }

  .login-card {
    max-width: 90%;
  }
}
