<app-go-back />
<p-toast />
<div class="login-container">
  @if(isLoading()) {
  <div class="spinner-container">
    <mat-spinner diameter="100"></mat-spinner>
  </div>
  }
  <div class="login-form-section">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Create Account</mat-card-title>
        <mat-card-subtitle>Fill out the form to get started.</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="inputs">
            <!-- EMAIL -->
            <mat-form-field class="full-width-input" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="example@example.com" required formControlName="email" />
              <mat-icon matSuffix>person</mat-icon>
              @if (loginForm.get('email')?.hasError('required')) {
              <mat-error>Email is required</mat-error>
              } @if (loginForm.get('email')?.hasError('email')) {
              <mat-error>Please enter a valid email address</mat-error>
              }
            </mat-form-field>

            <!-- PASSWORD -->
            <mat-form-field class="full-width-input" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                type="password"
                placeholder="•••••••••••••"
                required
                formControlName="password"
              />
              <mat-icon matSuffix>lock</mat-icon>

              @if (loginForm.get('password')?.hasError('required')) {
              <mat-error>Password is required</mat-error>
              } @if (loginForm.get('password')?.hasError('minlength')) {
              <mat-error>Password must be at least 8 characters long</mat-error>
              }
              <!-- Nowy błąd walidacji: Cyfra i Znak Specjalny -->
              @if (loginForm.get('password')?.hasError('pattern')) {
              <mat-error>Password must contain a number and a special character</mat-error>
              }
            </mat-form-field>

            <!-- CONFIRM PASSWORD -->
            <mat-form-field class="full-width-input" appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                type="password"
                placeholder="•••••••••••••"
                required
                formControlName="rePassword"
              />
              <mat-icon matSuffix>lock</mat-icon>

              @if (loginForm.get('rePassword')?.hasError('required')) {
              <mat-error>Please confirm your password</mat-error>
              } @if (loginForm.get('rePassword')?.hasError('mismatch')) {
              <mat-error>Passwords do not match</mat-error>
              }
            </mat-form-field>
          </div>

          <button matFab class="login-button" type="submit">Create account</button>
        </form>
        <div class="footer">
          Already have an account? <a class="sign-up-btn" routerLink="/login">Sign In</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="login-image-section">
    <img ngSrc="register.svg" width="10" height="10" priority />
  </div>
</div>
