:host {
  display: block;
  height: 100dvh;
  width: 100dvw;
  box-sizing: border-box;
  background: white;
  border-radius: 0px !important;
}

.settings-container {
  padding: 0 2rem;
}

.content {
  padding-top: 1rem;
  width: 100%;
  max-height: 100dvh;
  display: flex;
  justify-content: center;
}
