:host {
  display: block;
  height: calc(100dvh - 60px);
  width: 100vw;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
}

.login-form-section {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 100%;
  max-width: 450px;
  background: white;
  box-shadow: unset;
}

mat-card-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #3f51b5;
  margin-bottom: 0.5rem;
  font-family: Montserrat, sans-serif !important;
}

mat-card-subtitle {
  font-size: 1.1rem;
  color: #607d8b;
  margin-bottom: 2rem;
  font-family: Montserrat, sans-serif !important;
}

form {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.forgot,
.back {
  font-size: 1rem;
  color: #607d8b;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back:hover {
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}
.forgot:hover {
  opacity: 0.9;
}
.back {
  align-self: flex-start;
}

.forgot {
  align-self: flex-end;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.logo {
  font-weight: bold;
  letter-spacing: 2px;
}

mat-card-content {
  min-height: 400px;
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.full-width-input {
  width: 100%;
  margin-top: 1rem;
}

.sign-up-btn {
  font-weight: bold;
  color: #3f51b5;
  cursor: pointer;
}

input {
  transition: all 1s ease-in-out;
  font-size: 1rem;
  font-family: Montserrat, sans-serif !important;
}
button:hover {
  opacity: 0.9;
  transition: all 0.5s ease-in-out;
}

mat-label {
  font-family: Montserrat, sans-serif;
}

.two-fa-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

input::placeholder {
  color: #607d8b !important;
}

/* Przycisk logowania */
.login-button {
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 1rem;
  color: white;
  background-color: #3f51b5;
  border-radius: 0px;
}
.spinner-container {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0.5;
  background: white;
}

.login-image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-image-section {
    height: 200px;
    flex: none;
    display: none;
  }

  .login-form-section {
    padding: 1rem;
  }

  .login-card {
    max-width: 90%;
  }
}
